
# ------------------------------------------
# zsh related files
# ------------------------------------------
.zcompdump
.zsh_history
.zsh_sessions

# ------------------------------------------
# karabiner-elements related files
# ------------------------------------------
config/karabiner/automatic_backups


# ------------------------------------------
# macOS related files
# ------------------------------------------
.DS_Store

# ------------------------------------------
# Claude Code related files
# ------------------------------------------
# 特定のディレクトリ内のすべてを除外
config/claude/*

# ただし、以下は除外しない
!config/claude/commands
!config/claude/CLAUDE.md
!config/claude/settings.json
